input[type=text],input[type=email],input[type=password],textarea{
    border: solid 1px lightgray;
}

input[type=range]{
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.login{
    form{
        max-width: 750px;
        margin: auto;
        padding: 20px;
        border: solid 1px ;
        border-radius: 25px;
    }
}