{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
    <div class="register">
        <h1 class="text-center">Se créer un compte</h1>

        {{ form_start(registrationForm) }}
            <div class="columns-2">
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>

            <div class="mt-2 text-center">
                <button type="submit" class="
                bg-blue-500 
                text-white 
                p-1 px-2 rounded-md 
                border-2 border-blue-500 
                hover:bg-white hover:text-blue-500
                ">S'enregistrer</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
