@tailwind base;

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    a {
      @apply text-blue-600;
    }
    select {
      @apply py-2;
      @apply px-1;
      @apply my-1;
      @apply rounded-3xl;
    }

    .color-gris {
      @apply text-gray-600;
    }
}  

@tailwind components;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

@tailwind utilities;