{% extends 'base.html.twig' %}

{% block title %}Edit Voiture{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Modifier la voiture</h1>

    <a href="{{ path('voiture_index') }}">
        <button class="rounded-md outline outline-offset-1 outline-2 outline-blue-600 px-3 py-2 font-semibold leading-6 text-white hover:bg-blue-500">
            Retour
        </button>
    </a>

    {{ include('voiture/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="text-center">
        {{ include('voiture/_delete_form.html.twig') }}
    </div>
{% endblock %}
